{% extends 'supervisor_templates/supervisor_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/listView.css' %}">
<div class="view-appraisal-container">
    <div class="wrapper">
        <div class="links">
            <ul>
                <li data-view="list-view" class="li-list active">
                    <i class="fas fa-th-list"></i> List View
                </li>
                <li data-view="grid-view" class="li-grid">
                    <i class="fas fa-th-large"></i> Grid View
                </li>
            </ul>
        </div>
        <div class="view_main">
            <div class="view_wrap list-view" style="display: block;">
                {% for appraisal in appraisals %}
                <div class="view_item">
                    <div class="vi_left">
                        <img src="{% static 'img/logo2.jpg' %}" alt="logo">
                    </div>
                    <div class="vi_right">
                        <p class="title">Full Name: {{ appraisal.full_name }}</p>
                        <p class="title">Department: {{ appraisal.department }}</p>
                        <p class="title">Unit: {{ appraisal.unit }}</p>
                        <p class="title">Appraisal Period: {{ appraisal.appraisal_period }}</p>
                        <p class="title">Appraisal Status: {{ appraisal.appraisal_status }}</p>
                        <p class="title">Appraisal Rating: {{ appraisal.total_appraisal_rating }}</p>
                        <button class="btn"><a href="{% url 'supervisor_review' appraisal_id=appraisal.id %}">Rate</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="view_wrap grid-view" style="display: none;">
                {% for appraisal in appraisals %}
                <div class="view_item">
                    <div class="vi_left">
                        <img src="{% static 'img/logo2.jpg' %}" alt="logo">
                    </div>
                    <div class="vi_right">
                        <p class="title">Full Name: {{ appraisal.full_name }}</p>
                        <p class="title">Department: {{ appraisal.department }}</p>
                        <p class="title">Unit: {{ appraisal.unit }}</p>
                        <p class="title">Appraisal Status: {{ appraisal.appraisal_status }}</p>
                        <p class="title">Appraisal Rating: {{ appraisal.appraisal_rating }}</p>
                        <button class="btn"><a href="{% url 'supervisor_review' appraisal_id=appraisal.id %}">Rate</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/ListScripts.js" %}"></script>
{% endblock %}
