{% extends 'supervisor_templates/supervisor_base.html' %}
{% block content %}
      <div class="container">
        <div class="item">
            <strong>Performance Management System (PMS) </strong> is a comprehensive process used by organizations to monitor and evaluate employees' work performance, set goals, provide feedback, and make decisions about promotions, rewards, and other aspects related to employee development and productivity. The primary objectives of a performance management system are to align individual goals with organizational goals, identify areas for improvement, recognize achievements, and support career development.
        </div>
        <div class="item">
           <strong>Goal Setting:</strong> Establishing clear, specific, and measurable objectives for individual employees or teams that align with the organization's strategic goals.
        </div>
        <div class="item">
            <strong>Performance Appraisal:</strong> Conducting periodic assessments of employees' performance against established goals and competencies. This can involve self-assessment, peer reviews, and evaluations by managers.
        </div>
        <div class="item">
            <strong>Recognition and Rewards:</strong> Recognizing and rewarding employees for their achievements, contributions, and exceptional performance through various means such as bonuses, promotions, awards, or public acknowledgment.
        </div>
        <div class="item">
            <strong>Training and Development:</strong> Providing training, resources, and opportunities for skill enhancement and career advancement to support employees in meeting their performance goals and organizational needs.
        </div>
        <div class="item">
            <strong>Performance Improvement Plans (PIPs):</strong> Implementing structured plans for employees who are not meeting performance expectations, outlining specific actions, timelines, and support mechanisms to help them improve.
        </div>
      </div>
{% endblock content %}