{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static './css/password.css' %}">
<title>NASRDA PMS | Password Change</title>
<link rel="icon" href="{% static 'img/nasrda.ico' %}" alt="logo">

<div class="mainDiv">
    <div class="cardStyle">
      <!-- Add action to the form if necessary -->
      <form method="post" action="{% url 'change_password' %}" name="passwordChangeForm" id="passwordChangeForm">
        {% csrf_token %}
        
        <h2 class="formTitle">Change Password</h2>
    
        <div class="inputDiv">
          <label class="inputLabel" for="id_new_password1">New Password</label>
          {{ form.new_password1 }}
          {% if form.new_password1.errors %}
              <div class="error">{{ form.new_password1.errors }}</div>
          {% endif %}
        </div>
    
        <div class="inputDiv">
          <label class="inputLabel" for="id_new_password2">Confirm Password</label>
          {{ form.new_password2 }}
          {% if form.new_password2.errors %}
              <div class="error">{{ form.new_password2.errors }}</div>
          {% endif %}
        </div>
    
        <div class="buttonWrapper">
          <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
            <span>Change Password</span>
            <div id="loader" style="display:none;"></div>
          </button>
        </div>
    
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
    </form>    
    </div>
</div>

<!-- JavaScript for password validation -->
<script>
  function validatePasswordForm() {
    var password = document.getElementById("id_new_password1").value;
    var confirmPassword = document.getElementById("id_new_password2").value;

    if (password !== confirmPassword) {
      alert("Passwords do not match.");
      return false; // prevent form submission
    }
  }
  document.getElementById('passwordChangeForm').addEventListener('submit', function() {
      // Show the loader when form is submitted
      document.getElementById('loader').style.display = 'inline-block';
      
      // Disable the submit button to prevent multiple submissions
      document.getElementById('submitButton').disabled = true;
    });
</script>

{% endblock %}