{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/staff.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>NASRDA PMS | Update Form</title>
    <form id="StaffProfileForm" class="form-container" method="POST" action="{% url 'update_staff_info' user_id %}">
        {% csrf_token %}
        <div class="section">                            
               <h1>Staff Details Update</h1>
            <br>
            <h2>General Information</h2>
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
                <!-- General Information Fields -->
                <div>
                    <label for="employeeName">First Name:</label>
                    <input type="text" id="employeeName" name="first_name" class="form-control" value="{{ user.first_name }}">
                </div>
                <div>
                    <label for="employeeName">Middle Name:</label>
                    <input type="text" id="employeeName" name="middle_name" class="form-control" value="{{ user.middle_name }}">
                </div>
                <div>
                    <label for="employeeName">Surname:</label>
                    <input type="text" id="employeeName" name="last_name" class="form-control" value="{{ user.last_name }}">
                </div>
                <div>
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input type="date" id="dateOfBirth" name="date_of_birth" class="form-control" value="{{ user.date_of_birth|date:'Y-m-d' }}" >
                </div>
                <div>
                    <label for="dateOfFirstAppointment">Date of First Appointment:</label>
                    <input type="date" id="dateOfFirstAppointment" name="date_of_first_appointment" name="date_of_first_appointment" class="form-control" value="{{ user.date_of_first_appointment|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="dateOfPresentAppointment">Date of Present Appointment:</label>
                    <input type="date" id="dateOfPresentAppointment" name="date_of_present_appointment" value="{{ user.date_of_present_appointment|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="dateOfActingAppointment">Date of Acting Appointment:</label>
                    <input type="date" id="dateOfActingAppointment" name="date_of_acting_appointment" class="form-control" value="{{ user.date_of_acting_appointment|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="fileNumber">File Number:</label>
                    <input type="text" id="fileNumber" name="file_number" class="form-control" value="{{ user.file_number }}">
                </div>
                <div>
                    <label for="ippisNumber">IPPIS Number:</label>
                    <input type="text" id="ippisNumber" name="ippis_no" class="form-control" value="{{ user.ippis_no }}">
                </div>
                <div>
                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" name="designation" class="form-control" value="{{ user.designation }}">
                </div>
                <div>
                    <label for="department">Department:</label>
                    <select id="department" name="department" class="form-control">
                        <option value="">Select Department</option>
                        {% for department in departments %}
                            <option value="{{ department.id }}" {% if user.department.id == department.id %}selected{% endif %}>
                                {{ department.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="unit">Dvision/Unit:</label>
                    <select id="unit" name="unit" class="form-control">
                        <!-- Units will be populated dynamically based on selected department -->
                        {% if user.unit %}
                            <option value="{{ user.unit.id }}" selected>{{ user.unit.name }}</option>
                        {% else %}
                            <option value="">Select Division/Unit</option>
                        {% endif %}
                    </select>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
                </div>
                <div>
                    <label for="phone">Phone Number:</label>
                    <input type="number" id="phone" name="phone" class="form-control" value="{{ user.phone }}">
                </div>
                <div>
                    <label for="usertype">User Type:</label>
                    <select id="usertype" name="usertype" class="form-control" required>
                        <option value="">Select User Type</option>
                        {% for usertype in usertypes %}
                        <option value="{{ usertype.id }}" {% if user.usertype.id == usertype.id %}selected{% endif %}>{{ usertype.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!-- New Section 1B: Educational Background -->
        <div class="section">
            <h2>Educational/Professional certifications</h2>
            <table>
                <tr>
                    <th style="width: 50%;">Highest Qualification (Most Recent Qualification, Academic /Professional)</th>
                    <th style="width: 30%;">Institution</th>
                    <th style="width: 10%;">Date of Award</th>
                </tr>
                <tr>
                    <td><input type="text" id="qualification" name="qualification" class="form-control" value="{{ user.qualification }}" ></td>
                    <td><input type="text" id="institution" name="institution" class="form-control" value="{{ user.institution }}" ></td>
                    <td><input type="date" id="awardDate" name= "qualification_award_date" class="form-control" value="{{ user.qualification_award_date|date:'Y-m-d' }}" ></td>
                </tr>
                
            </table>
        </div>
        <div class="section">
            <button type="submit" class="submit-btn">Update</button>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#department').change(function() {
                var departmentId = $(this).val();  // Get the selected department ID
    
                // Make an AJAX request to get the units for the selected department
                $.ajax({
                    url: '{% url "get_units_by_dept" %}',  // The URL for the AJAX endpoint
                    data: {
                        'department_id': departmentId  // Send department ID as parameter
                    },
                    dataType: 'json',
                    success: function(data) {
                        var unitDropdown = $('#unit');  // Select the unit dropdown
                        unitDropdown.empty();  // Clear any existing options
    
                        // Populate the unit dropdown with the new options
                        $.each(data, function(index, unit) {
                            unitDropdown.append($('<option>', {
                                value: unit.id,
                                text: unit.name
                            }));
                        });
                    }
                });
            });
        });
    </script>
{% endblock content %}